<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link href="//at.alicdn.com/t/font_0zex7aq4j7lrqkt9.css" rel="stylesheet">

    <title></title>
    <script>
        var $extTelSendCode = 'http://47.94.230.18/motor/extTelSendCode.ext'; //发送短信验证码
        var $extTelMsgLogin = 'http://47.94.230.18/motor/extTelMsgLogin.ext'; //免密登录
    </script>
</head>

<body>
</body>
<script type="text/javascript" src="cordova.js"></script>
</html>