@baseColor: #555; //基础字体颜色
@baseBlue: #108ee9; //基础蓝色背景
* {
    margin:0;
    padding:0
}

body{
    font-size: .28rem;//html根字体大小是50px,0.28rem=14px
    letter-spacing:.05em;
}
#line_bottom(@transform: scaleY(.5),@top:auto,@right:auto,@bottom:0px,@left:auto){
    content: '';
    position: absolute;
    left: @left;
    bottom: @bottom;
    right: @right;
    top: @top;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    display: block;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: @transform;
    transform: @transform;
}
#line_left(@transform: scaleX(.5),@top:0px,@right:auto,@bottom:auto,@left:0px){
    content: '';
    position: absolute;
    left: @left;
    bottom: @bottom;
    right: @right;
    top: @top;
    height: 100%;
    width: 1px;
    background-color: #ddd;
    display: block;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: @transform;
    transform: @transform;
}
.my-own{
    .none{
        color:@baseColor;
        text-align:center;
        line-height:1.5;
        font-size:.3rem;
        i.iconfont{
            font-size:.8rem;
            color:@baseBlue;
            display:block
        }
    }
}
.choose_p{
    font-size:.2rem;
    padding:.32rem;
    color:@baseColor;
}
.am-list-view-scrollview .am-list-body{
    border-top:none;
}
.am-button {
    height: .7rem;
    line-height: .7rem;
    font-size:.3rem;
}

.myTop{
    height:130px;
    background: url(../Images/bg.jpg);
    background-size: 100% 130px;
    text-align:center;
    color:#fff;
    position: relative;
    .myImg{
        margin-top:.3rem;
        width:60px;
        height:60px;
        border-radius:50%;
    }
    a{
        color:#fff;
    }
    p{
        margin-top:4px
    }
    i.icon-shezhi{
        position:absolute;
        right:.3rem;
        top:.3rem;
        font-size:.5rem;
    }
    i.icon-edit{
        font-size:10px;
        color:#666;
        padding-bottom:3px;
        display: inline-block;
    }

}
.btnWrap{
    margin:.3rem;
}
.am-search{
    background:#fff;
    height: .8rem;
}
.clearHistory{
    color:@baseColor;
    text-align:center;
    height:40px;
    line-height:40px
}
.moto-detail{
    .detail-wrap{
        margin:.2rem;
    }
    .sub-title{
        border-top:5px solid #ddd;
    }
    .sub-title-no{
        padding:6px .3rem 6px 0!important;
       &:after{
           display:none;
       }
    }
    .content{
        color:@baseColor;
        margin:0 .3rem;
        p{
            margin:.25rem 0;
            text-align:left;
            line-height:1.5;
            color:#222;
        }
        img{
            width:100%;
            &:last-child{
                margin-bottom:.25rem;
            }
        }
    }
    .am-grid{
        &:after{
            #line_bottom(scaleY(.5),auto,auto,auto,auto) //向下细线
        }
    }
    .tag-wrap{
        margin:.1rem 0;
        padding:0 0 .1rem 0;
        span{
            display:inline-block;
            background:#ddd;
            color:#777;
            padding:4px 4px;
            margin-right:.5em;
            margin-top:.5em;
            font-size: .2rem;
        }
    }
}

.p2{
    width:25%;
    padding:.8em 0;
    color:#333;
    display:inline-block;
    text-align:center;
    img{
        width:60%;
    }
    span{
        display:block
    }
}

.p1{
    width:20%;
    padding:.8em 0;
    color:#333;
    display:inline-block;
    text-align:center;
    img{
        width:60%;
    }
    span{
        display:block
    }
}
.topNavBar{
    height:48px;
    padding:0 5px;
    color:#999;
    border-bottom:1px solid #ccc;
    position:fixed;
    top:0;
    width:100%;
    background:#fff;
    font-size:14px;
    z-index:2;
    box-shadow: 0px 1px 4px #ccc;
    b{
        font-weight:normal;
        padding-left:3px;
        position:relative;
        top:1px
    }
    span:nth-child(2){
        text-align:center;
        text-indent: -54px;
        color:@baseColor;
    }
}
.topNavBar.transparent{
    box-shadow:none;
    background:none;
    border-bottom:none;
    span:nth-child(2){
        display:none
    }
}

.match{
    height:35px;
    line-height:35px;
    color:@baseColor;
    position:relative;
    text-align: center;
    &:after{
        #line_bottom() //向下细线
    }
    div:nth-child(5){
        width:50px;
        position:relative;
        &:after{
            #line_left() //向下细线
        }
    }
    i{padding-left:2px;font-size:10px;color:#888}
    i.icon-viewgallery,i.icon-viewlist{
        font-size:16px
    }
}
.navMargin{
    height:40px;
}
.am-list-item .am-input-label{
    font-size:.25rem;
}
.am-grid{

    i.iconfont{
        color:@baseColor;
        font-size:.5rem
    }
    span{
        font-size:.2rem;
    }
}
.am-list-item .am-list-line .am-list-content{
    font-size:.25rem;
}
.sub-title{
    color:#555!important;
    position:relative;
    text-align:left;
    text-indent:.3rem;
     padding: 12px .3rem 12px 0!important;
    border-bottom:1px solid #ddd;
    span{
        color:@baseBlue;
        float:right;
    }
    &:after{
      //  #line_bottom(scaleY(.5),auto,auto,0px,auto) //向下细线
    }
}
.match_subnav{
    position: absolute;
    width: 100%;
    z-index: 2;
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
    background: #f9f9f9;
    box-shadow: 0 3px 5px #eee;
    ul li{
        line-height:2.5;
        padding:0 10px;
        text-align:left;
        position:relative;
        &:after{
            #line_bottom(scaleY(.5),auto,auto,0px,auto) //向下细线
        }
    }
}
.match_subnav_his{
    position: absolute;
    width: 100%;
    z-index: 2;
    max-height:400px;
    overflow-y:auto;
    overflow-x:hidden;
    background: #fdfdfd;
    ul li{
        line-height:2.5;
        padding:0 10px;
        text-align:left;
        position:relative;
        &:after{
            #line_bottom(scaleY(.5),auto,auto,0px,auto) //向下细线
        }
    }
}
.topWrap{
    position:fixed;
    width:100%;
    z-index:2;
    background:#fff;
    .top{
        height:40px;
        position:relative;
        &:after{
            #line_bottom(scaleY(.5),auto,auto,0px,auto) //向下细线
        }
        .logo{
            background:url(../Images/logo.jpg) 10px center no-repeat;
            background-size:58px 27px;
            width:80px
        }
    }
    .city{
        float:right;
        height:40px;
        padding-right: 10px;
        color:#777
    }
}

.am-list-header{
    text-align:left;
    padding:.26rem!important;
    background:#f8f8f8;
    color: #108ee9;
    border-left: 5px solid #108ee9;
}
.index-list-panel:nth-child(1) .blank{
   display: none;
}
div.car{
    background:url(../Images/car.jpg);
    height:100px;
}
.am-badge{
    background:url(../Images/moto.svg);
}
.my-carousel {
    background: #fff;
}
.my-carousel a {
    display: inline-block;
    width: 100%;
    margin: 0; padding: 0;
}
.my-carousel a img {
    width: 100%;
    height:100%;
    vertical-align: top;
}
.my-carousel .v-item {
    height: 0.72rem;
    line-height: 0.72rem;
    padding-left: 0.2rem;
}
.sub-title {
    color: #888;
    font-size: .28rem;
    padding: 30px 0 18px 0;
}
.am-search {
    border-bottom: 1px solid #ddd;
}
.sub-title {
    color: #888;
    font-size: .28rem;
    padding: 30px 0 18px 0;
}
.am-tab-bar-tab-icon i{
    font-size:22px

}
.row {
    padding: 0 0.3rem;
    background-color: white;
}
.row-title {
    height: 1rem;
    line-height: 1rem;
    color: #888;
    font-size: 0.36rem;
    border-bottom: 1px solid #F6F6F6;
}
.row-text {
    display: inline-block;
    font-size: 0.32rem;
    line-height: 1;
}
.rowMoto{
    padding:.15rem .15rem;

}
.rowMoto img{
    width:2rem;
    height:1.5rem;
    margin-right:.15rem
}
.am-list-item .am-input-control .fake-input-container .fake-input{
    text-align:left;
}
.rowMotoText{
    text-align:left;
    width:100%;
    p{
        padding:.1rem .5rem 0 0;
    }
    div{
        margin-bottom:5px
    }
    div:nth-child(1){
        color:#444;
        font-size:.3rem;
        word-break: break-all;
    }
    div:nth-child(2){
        color:#888;
        font-size:.25rem
    }
    div:nth-child(3){
        color:#ff5b05;
        font-size:.3rem;
        margin-bottom:0
    }
}
.talk{
    border-bottom:1px dotted #eee;
    margin-bottom:5px;
    text-align:left;
    .name{
        color:#999;
        font-size:.2rem;
        padding:5px 0;
    }
    .text{
        color:#333;
        font-size:.2rem;
        padding:2px 5px 10px 5px;
    }
}

.bgWhite{
    *{
        color:#fff!important;
    }

}
.am-modal-input input{
    padding:.2rem;
}
.rowMotoTextDetail{
    text-align:left;
    div{
        margin-bottom:5px
    }
    .am-button-primary{
        background:#ff5b05;
        padding:0 .3rem;
        font-size:.28rem;
        border:none;
    }
    div:nth-child(1){
        color:#333;
        font-size:.4rem;

    }
    div:nth-child(2){
        color:#ff5b05;
        font-size:.5rem;
        margin-bottom:0;
        i{
            font-size:.5rem;
        }

    }
    div:nth-child(3){
        font-size:.28rem;
        color:#ccc;
        span{
            text-decoration: line-through;
        }
        i{
            font-size:.28rem;
            padding:0 .1rem;
        }
    }
}



/*loader*/
.loader {
      position: absolute;
      top: -25px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      width: 175px;
      height: 100px;
     transform: scale(.3);
  }
.loader span {
    display: block;
    background: #ccc;
    width: 7px;
    height: 10%;
    border-radius: 14px;
    margin-right: 5px;
    float: left;
    margin-top: 25%;
}
.loader span:last-child {
    margin-right: 0px;
}
.loader span:nth-child(1) {
    animation: load 2.5s 1.4s infinite linear;
}
.loader span:nth-child(2) {
    animation: load 2.5s 1.2s infinite linear;
}
.loader span:nth-child(3) {
    animation: load 2.5s 1s infinite linear;
}
.loader span:nth-child(4) {
    animation: load 2.5s 0.8s infinite linear;
}
.loader span:nth-child(5) {
    animation: load 2.5s 0.6s infinite linear;
}
.loader span:nth-child(6) {
    animation: load 2.5s 0.4s infinite linear;
}
.loader span:nth-child(7) {
    animation: load 2.5s 0.2s infinite linear;
}
.loader span:nth-child(8) {
    animation: load 2.5s 0s infinite linear;
}
.loader span:nth-child(9) {
    animation: load 2.5s 0.2s infinite linear;
}
.loader span:nth-child(10) {
    animation: load 2.5s 0.4s infinite linear;
}
.loader span:nth-child(11) {
    animation: load 2.5s 0.6s infinite linear;
}
.loader span:nth-child(12) {
    animation: load 2.5s 0.8s infinite linear;
}
.loader span:nth-child(13) {
    animation: load 2.5s 1s infinite linear;
}
.loader span:nth-child(14) {
    animation: load 2.5s 1.2s infinite linear;
}
.loader span:nth-child(15) {
    animation: load 2.5s 1.4s infinite linear;
}

@keyframes load {
    0% {
        background: #ccc;
        margin-top: 25%;
        height: 10%;
    }
    50% {
        background: #444;
        height: 100%;
        margin-top: 0%;
    }
    100% {
        background: #ccc;
        height: 10%;
        margin-top: 25%;
    }
}

.data-load .msg {
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.data-load-true {
    margin: 20px auto 20px auto;
    position: relative;
    animation: rotate-forever 1s infinite linear;
    height: 30px;
    width: 30px;
    border: 4px solid #bbb;
    border-right-color: transparent;
    border-radius: 50%;

}
.data-load-true .msg {
    display: none;
}
@keyframes rotate-forever {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.father{
    margin:10px;
    background:#fff;
    padding:65px 2px 10px 2px;
    h1{
        font-size:18px;text-align:center;
    }
    h2{
        font-size:12px;text-align:right;
        margin-bottom:10px;
        letter-spacing:0
    }
    table{
        width:100%;
        text-align:center;
        border-spacing: 0;
        border-right:1px solid #333;
        border-top:1px solid #333;
        tr{
            td{
                font-size:12px;
                padding:6px 2px;
                border-left:1px solid #333;
                border-bottom:1px solid #333;
                word-break: break-all;
                input{
                    border:0;
                    background:none;
                }

            }
        }
        tr.del{
            td{
                opacity: .3;
                padding:0;
                text-decoration: line-through;
                input{
                    text-decoration: line-through;
                    padding:0!important;
                }
            }
        }
        tr:nth-child(even){
            td{
                background:#f1f1f1
            }
        }
    }

}



.content_wrap{
    position:absolute;top:0;left:0;width:100%;z-index:999
}
.content {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    height:100%;
}

.component {
    position: relative;
    background: url(../Images/logo.jpg) repeat center center;
    padding: 4em;
    overflow: hidden;
    margin: 0 auto;
    height:100%;
}

/* Header */
.codrops-header {
    padding: 0 0 2em;
    letter-spacing: -1px;
}

.codrops-header h1 {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1.3;
    margin: 0.25em auto;
}

.codrops-header h1 span,
.a-tip {
    color: #49708A;
}

.a-tip {
    padding: 1em;
}

.a-tip span {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}

/* Top Navigation Style */
.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    letter-spacing: 1px;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    display: block;
    float: left;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

/* Codrops demo links */
.codrops-demos a {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5em 1em;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
    border-color: initial;
    border-radius: 4px;
}

.codrops-demos a.current-demo {
    color: #74777b;
}

/* Related demos */
.related {
    text-align: center;
    padding: 4em 0 2em;
}

.related > a {
    width: calc(100% - 20px);
    max-width: 340px;
    border: 2px solid #49708A;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 20px 10px;
    padding: 25px;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
    min-height: 60px;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -100px;
    margin-top: 100px;
    z-index: 999;
    width: 200px;
    height: 200px;
    border: solid 2px rgba(222,60,80,.9);
    box-sizing: content-box;
    pointer-events: none;
}





.btn-crop {
    position: absolute;
    vertical-align: bottom;
    right: 5px;
    top: 5px;
    padding: 6px 10px;
    z-index: 999;
    background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: #FFF;
}

.btn-crop img {
    vertical-align: middle;
    margin-left: 8px;
}

.none_list {
    background: url('../Images/no.png') center top/155px auto no-repeat;
    padding-top: 145px;
    margin-top: 50px;
    text-align: center;
    color: #aaa;
    font-size: .28rem;
}
.tag-container{
    position: fixed;
    width: 100%;
    top: 75px;
    background: #f6f6f6;
    text-align: left;
    z-index:1;
}
.am-tag-close {
    position: absolute;
    top: .07rem;
    right: .05rem;
    left: auto;
    color: #bbb;
    .am-icon-xs{
        width:.25rem;
        height:.25rem;
    }
}
.am-tag {
    display: inline-block;
    position: relative;
    font-size: .22rem;
    text-align: center;
    margin:.05rem;
    padding: 0 .35rem 0 .05rem;
    height: .45rem;
    line-height: .4rem;
    border-radius: .06rem;
    box-sizing: border-box;
}
.am-popover{
    .am-popover-item-icon{
        i.iconfont{
            font-size:18px;
        }
    }
}
.am-tab-bar-content .am-tab-bar-tabpane{
    overflow-x:hidden!important;
}
.am-carousel-wrap{
    display:none
}
.am-toast.am-toast-mask {
    background: rgba(0,0,0,.5);
}
.am-search-input .am-search-synthetic-ph{
    text-align:left

}
.am-list-item-middle-border{
    //border-bottom: 5px solid #ddd!important;
    border-top: 5px solid #ddd;
    /*
    .am-list-item-middle{

        margin-top: -1px;
        .am-list-line{
            margin-bottom:-1px;
        }
    }
    */
}
.am-list-item{
    text-indent: 1em;
    padding-left:0;

}
.am-list-item.am-input-item{
    padding-left:0

}
.am-list-item.am-input-item:after{
    left:0
}
.am-grid.am-grid-line .am-flexbox{
  //  height:70px
}
.am-list-body{
    border-top:0;
}
.am-list-body{
    border-top:0;
}
.am-list-body:after{
    border-bottom:none;
}
.t_tow{
    width:100%;
    td{
        width:50%;
        float:left;
        .am-list-item .am-list-line .am-list-extra{
            flex-basis: 100%;
            text-align:left;
        }
    }
}
.t_three{
    width:100%;
    td{
        width:40%;
        float:left;
        &:nth-child(2){
            width:60%;
        }
        .am-list-item .am-list-line .am-list-extra{
            flex-basis: 100%;
            text-align:left;
        }
    }
}
.sellPanel{
    .am-list-extra,.am-list-content,.am-input-label.am-input-label-5{
        color: #888!important;
        font-size: .25rem!important;
    }
    .am-list-item .am-input-control input{
        font-size: .25rem!important;
    }

}

[flex],[flex]>*,[flex]>[flex]{overflow:hidden}[flex]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}[flex]>*{display:block}[flex]>[flex]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}[flex~="dir:left"]{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}[flex~="dir:right"]{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-pack:end}[flex~="dir:top"]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}[flex~="dir:bottom"]{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-box-pack:end}[flex~="main:left"]{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}[flex~="main:right"]{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}[flex~="main:justify"]{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}[flex~="main:center"]{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}[flex~="cross:top"]{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;-ms-grid-row-align:flex-start;align-items:flex-start}[flex~="cross:bottom"]{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;-ms-grid-row-align:flex-end;align-items:flex-end}[flex~="cross:center"]{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}[flex~="cross:baseline"]{-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;-ms-grid-row-align:baseline;align-items:baseline}[flex~="cross:stretch"]{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;-ms-grid-row-align:stretch;align-items:stretch}[flex~="box:mean"]>*,[flex~="box:first"]>*,[flex~="box:last"]>*,[flex~="box:justify"]>*{width:0;height:auto;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex~="box:first"]>:first-child,[flex~="box:last"]>:last-child,[flex~="box:justify"]>:first-child,[flex~="box:justify"]>:last-child{width:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex~="dir:top"][flex~="box:mean"]>*,[flex~="dir:top"][flex~="box:first"]>*,[flex~="dir:top"][flex~="box:last"]>*,[flex~="dir:top"][flex~="box:justify"]>*,[flex~="dir:bottom"][flex~="box:mean"]>*,[flex~="dir:bottom"][flex~="box:first"]>*,[flex~="dir:bottom"][flex~="box:last"]>*,[flex~="dir:bottom"][flex~="box:justify"]>*{width:auto;height:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex~="dir:top"][flex~="box:first"]>:first-child,[flex~="dir:top"][flex~="box:last"]>:last-child,[flex~="dir:top"][flex~="box:justify"]>:first-child,[flex~="dir:top"][flex~="box:justify"]>:last-child,[flex~="dir:bottom"][flex~="box:first"]>:first-child,[flex~="dir:bottom"][flex~="box:last"]>:last-child,[flex~="dir:bottom"][flex~="box:justify"]>:first-child [flex~="dir:bottom"][flex~="box:justify"]>:last-child{height:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex-box="0"]{-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex-box="1"]{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex-box="2"]{-webkit-box-flex:2;-webkit-flex-grow:2;-ms-flex-positive:2;flex-grow:2;-webkit-flex-shrink:2;-ms-flex-negative:2;flex-shrink:2}[flex-box="3"]{-webkit-box-flex:3;-webkit-flex-grow:3;-ms-flex-positive:3;flex-grow:3;-webkit-flex-shrink:3;-ms-flex-negative:3;flex-shrink:3}[flex-box="4"]{-webkit-box-flex:4;-webkit-flex-grow:4;-ms-flex-positive:4;flex-grow:4;-webkit-flex-shrink:4;-ms-flex-negative:4;flex-shrink:4}[flex-box="5"]{-webkit-box-flex:5;-webkit-flex-grow:5;-ms-flex-positive:5;flex-grow:5;-webkit-flex-shrink:5;-ms-flex-negative:5;flex-shrink:5}[flex-box="6"]{-webkit-box-flex:6;-webkit-flex-grow:6;-ms-flex-positive:6;flex-grow:6;-webkit-flex-shrink:6;-ms-flex-negative:6;flex-shrink:6}[flex-box="7"]{-webkit-box-flex:7;-webkit-flex-grow:7;-ms-flex-positive:7;flex-grow:7;-webkit-flex-shrink:7;-ms-flex-negative:7;flex-shrink:7}[flex-box="8"]{-webkit-box-flex:8;-webkit-flex-grow:8;-ms-flex-positive:8;flex-grow:8;-webkit-flex-shrink:8;-ms-flex-negative:8;flex-shrink:8}[flex-box="9"]{-webkit-box-flex:9;-webkit-flex-grow:9;-ms-flex-positive:9;flex-grow:9;-webkit-flex-shrink:9;-ms-flex-negative:9;flex-shrink:9}[flex-box="10"]{-webkit-box-flex:10;-webkit-flex-grow:10;-ms-flex-positive:10;flex-grow:10;-webkit-flex-shrink:10;-ms-flex-negative:10;flex-shrink:10}
.animated{animation-duration:1s;animation-fill-mode:both}.animated.infinite{animation-iteration-count:infinite}.animated.hinge{animation-duration:2s}.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{animation-duration:.75s}@keyframes bounce{0%,20%,53%,80%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1);transform:translateZ(0)}40%,43%{animation-timing-function:cubic-bezier(.755,.05,.855,.06);transform:translate3d(0,-30px,0)}70%{animation-timing-function:cubic-bezier(.755,.05,.855,.06);transform:translate3d(0,-15px,0)}90%{transform:translate3d(0,-4px,0)}}.bounce{animation-name:bounce;transform-origin:center bottom}@keyframes flash{0%,50%,to{opacity:1}25%,75%{opacity:0}}.flash{animation-name:flash}@keyframes pulse{0%{transform:scaleX(1)}50%{transform:scale3d(1.05,1.05,1.05)}to{transform:scaleX(1)}}.pulse{animation-name:pulse}@keyframes rubberBand{0%{transform:scaleX(1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}to{transform:scaleX(1)}}.rubberBand{animation-name:rubberBand}@keyframes shake{0%,to{transform:translateZ(0)}10%,30%,50%,70%,90%{transform:translate3d(-10px,0,0)}20%,40%,60%,80%{transform:translate3d(10px,0,0)}}.shake{animation-name:shake}@keyframes headShake{0%{transform:translateX(0)}6.5%{transform:translateX(-6px) rotateY(-9deg)}18.5%{transform:translateX(5px) rotateY(7deg)}31.5%{transform:translateX(-3px) rotateY(-5deg)}43.5%{transform:translateX(2px) rotateY(3deg)}50%{transform:translateX(0)}}.headShake{animation-timing-function:ease-in-out;animation-name:headShake}@keyframes swing{20%{transform:rotate(15deg)}40%{transform:rotate(-10deg)}60%{transform:rotate(5deg)}80%{transform:rotate(-5deg)}to{transform:rotate(0deg)}}.swing{transform-origin:top center;animation-name:swing}@keyframes tada{0%{transform:scaleX(1)}10%,20%{transform:scale3d(.9,.9,.9) rotate(-3deg)}30%,50%,70%,90%{transform:scale3d(1.1,1.1,1.1) rotate(3deg)}40%,60%,80%{transform:scale3d(1.1,1.1,1.1) rotate(-3deg)}to{transform:scaleX(1)}}.tada{animation-name:tada}@keyframes wobble{0%{transform:none}15%{transform:translate3d(-25%,0,0) rotate(-5deg)}30%{transform:translate3d(20%,0,0) rotate(3deg)}45%{transform:translate3d(-15%,0,0) rotate(-3deg)}60%{transform:translate3d(10%,0,0) rotate(2deg)}75%{transform:translate3d(-5%,0,0) rotate(-1deg)}to{transform:none}}.wobble{animation-name:wobble}@keyframes jello{0%,11.1%,to{transform:none}22.2%{transform:skewX(-12.5deg) skewY(-12.5deg)}33.3%{transform:skewX(6.25deg) skewY(6.25deg)}44.4%{transform:skewX(-3.125deg) skewY(-3.125deg)}55.5%{transform:skewX(1.5625deg) skewY(1.5625deg)}66.6%{transform:skewX(-.78125deg) skewY(-.78125deg)}77.7%{transform:skewX(.390625deg) skewY(.390625deg)}88.8%{transform:skewX(-.1953125deg) skewY(-.1953125deg)}}.jello{animation-name:jello;transform-origin:center}@keyframes bounceIn{0%,20%,40%,60%,80%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:scale3d(.3,.3,.3)}20%{transform:scale3d(1.1,1.1,1.1)}40%{transform:scale3d(.9,.9,.9)}60%{opacity:1;transform:scale3d(1.03,1.03,1.03)}80%{transform:scale3d(.97,.97,.97)}to{opacity:1;transform:scaleX(1)}}.bounceIn{animation-name:bounceIn}@keyframes bounceInDown{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,-3000px,0)}60%{opacity:1;transform:translate3d(0,25px,0)}75%{transform:translate3d(0,-10px,0)}90%{transform:translate3d(0,5px,0)}to{transform:none}}.bounceInDown{animation-name:bounceInDown}@keyframes bounceInLeft{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(-3000px,0,0)}60%{opacity:1;transform:translate3d(25px,0,0)}75%{transform:translate3d(-10px,0,0)}90%{transform:translate3d(5px,0,0)}to{transform:none}}.bounceInLeft{animation-name:bounceInLeft}@keyframes bounceInRight{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(3000px,0,0)}60%{opacity:1;transform:translate3d(-25px,0,0)}75%{transform:translate3d(10px,0,0)}90%{transform:translate3d(-5px,0,0)}to{transform:none}}.bounceInRight{animation-name:bounceInRight}@keyframes bounceInUp{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,3000px,0)}60%{opacity:1;transform:translate3d(0,-20px,0)}75%{transform:translate3d(0,10px,0)}90%{transform:translate3d(0,-5px,0)}to{transform:translateZ(0)}}.bounceInUp{animation-name:bounceInUp}@keyframes bounceOut{20%{transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;transform:scale3d(1.1,1.1,1.1)}to{opacity:0;transform:scale3d(.3,.3,.3)}}.bounceOut{animation-name:bounceOut}@keyframes bounceOutDown{20%{transform:translate3d(0,10px,0)}40%,45%{opacity:1;transform:translate3d(0,-20px,0)}to{opacity:0;transform:translate3d(0,2000px,0)}}.bounceOutDown{animation-name:bounceOutDown}@keyframes bounceOutLeft{20%{opacity:1;transform:translate3d(20px,0,0)}to{opacity:0;transform:translate3d(-2000px,0,0)}}.bounceOutLeft{animation-name:bounceOutLeft}@keyframes bounceOutRight{20%{opacity:1;transform:translate3d(-20px,0,0)}to{opacity:0;transform:translate3d(2000px,0,0)}}.bounceOutRight{animation-name:bounceOutRight}@keyframes bounceOutUp{20%{transform:translate3d(0,-10px,0)}40%,45%{opacity:1;transform:translate3d(0,20px,0)}to{opacity:0;transform:translate3d(0,-2000px,0)}}.bounceOutUp{animation-name:bounceOutUp}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.fadeIn{animation-name:fadeIn}@keyframes fadeInDown{0%{opacity:0;transform:translate3d(0,-100%,0)}to{opacity:1;transform:none}}.fadeInDown{animation-name:fadeInDown}@keyframes fadeInDownBig{0%{opacity:0;transform:translate3d(0,-2000px,0)}to{opacity:1;transform:none}}.fadeInDownBig{animation-name:fadeInDownBig}@keyframes fadeInLeft{0%{opacity:0;transform:translate3d(-100%,0,0)}to{opacity:1;transform:none}}.fadeInLeft{animation-name:fadeInLeft}@keyframes fadeInLeftBig{0%{opacity:0;transform:translate3d(-2000px,0,0)}to{opacity:1;transform:none}}.fadeInLeftBig{animation-name:fadeInLeftBig}@keyframes fadeInRight{0%{opacity:0;transform:translate3d(100%,0,0)}to{opacity:1;transform:none}}.fadeInRight{animation-name:fadeInRight}@keyframes fadeInRightBig{0%{opacity:0;transform:translate3d(2000px,0,0)}to{opacity:1;transform:none}}.fadeInRightBig{animation-name:fadeInRightBig}@keyframes fadeInUp{0%{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{animation-name:fadeInUp}@keyframes fadeInUpBig{0%{opacity:0;transform:translate3d(0,2000px,0)}to{opacity:1;transform:none}}.fadeInUpBig{animation-name:fadeInUpBig}@keyframes fadeOut{0%{opacity:1}to{opacity:0}}.fadeOut{animation-name:fadeOut}@keyframes fadeOutDown{0%{opacity:1}to{opacity:0;transform:translate3d(0,100%,0)}}.fadeOutDown{animation-name:fadeOutDown}@keyframes fadeOutDownBig{0%{opacity:1}to{opacity:0;transform:translate3d(0,2000px,0)}}.fadeOutDownBig{animation-name:fadeOutDownBig}@keyframes fadeOutLeft{0%{opacity:1}to{opacity:0;transform:translate3d(-100%,0,0)}}.fadeOutLeft{animation-name:fadeOutLeft}@keyframes fadeOutLeftBig{0%{opacity:1}to{opacity:0;transform:translate3d(-2000px,0,0)}}.fadeOutLeftBig{animation-name:fadeOutLeftBig}@keyframes fadeOutRight{0%{opacity:1}to{opacity:0;transform:translate3d(100%,0,0)}}.fadeOutRight{animation-name:fadeOutRight}@keyframes fadeOutRightBig{0%{opacity:1}to{opacity:0;transform:translate3d(2000px,0,0)}}.fadeOutRightBig{animation-name:fadeOutRightBig}@keyframes fadeOutUp{0%{opacity:1}to{opacity:0;transform:translate3d(0,-100%,0)}}.fadeOutUp{animation-name:fadeOutUp}@keyframes fadeOutUpBig{0%{opacity:1}to{opacity:0;transform:translate3d(0,-2000px,0)}}.fadeOutUpBig{animation-name:fadeOutUpBig}@keyframes flip{0%{transform:perspective(400px) rotateY(-1turn);animation-timing-function:ease-out}40%{transform:perspective(400px) translateZ(150px) rotateY(-190deg);animation-timing-function:ease-out}50%{transform:perspective(400px) translateZ(150px) rotateY(-170deg);animation-timing-function:ease-in}80%{transform:perspective(400px) scale3d(.95,.95,.95);animation-timing-function:ease-in}to{transform:perspective(400px);animation-timing-function:ease-in}}.animated.flip{-webkit-backface-visibility:visible;backface-visibility:visible;animation-name:flip}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);animation-timing-function:ease-in;opacity:0}40%{transform:perspective(400px) rotateX(-20deg);animation-timing-function:ease-in}60%{transform:perspective(400px) rotateX(10deg);opacity:1}80%{transform:perspective(400px) rotateX(-5deg)}to{transform:perspective(400px)}}.flipInX{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;animation-name:flipInX}@keyframes flipInY{0%{transform:perspective(400px) rotateY(90deg);animation-timing-function:ease-in;opacity:0}40%{transform:perspective(400px) rotateY(-20deg);animation-timing-function:ease-in}60%{transform:perspective(400px) rotateY(10deg);opacity:1}80%{transform:perspective(400px) rotateY(-5deg)}to{transform:perspective(400px)}}.flipInY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;animation-name:flipInY}@keyframes flipOutX{0%{transform:perspective(400px)}30%{transform:perspective(400px) rotateX(-20deg);opacity:1}to{transform:perspective(400px) rotateX(90deg);opacity:0}}.flipOutX{animation-name:flipOutX;-webkit-backface-visibility:visible!important;backface-visibility:visible!important}@keyframes flipOutY{0%{transform:perspective(400px)}30%{transform:perspective(400px) rotateY(-15deg);opacity:1}to{transform:perspective(400px) rotateY(90deg);opacity:0}}.flipOutY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;animation-name:flipOutY}@keyframes lightSpeedIn{0%{transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{transform:skewX(20deg);opacity:1}80%{transform:skewX(-5deg);opacity:1}to{transform:none;opacity:1}}.lightSpeedIn{animation-name:lightSpeedIn;animation-timing-function:ease-out}@keyframes lightSpeedOut{0%{opacity:1}to{transform:translate3d(100%,0,0) skewX(30deg);opacity:0}}.lightSpeedOut{animation-name:lightSpeedOut;animation-timing-function:ease-in}@keyframes rotateIn{0%{transform-origin:center;transform:rotate(-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{animation-name:rotateIn}@keyframes rotateInDownLeft{0%{transform-origin:left bottom;transform:rotate(-45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInDownLeft{animation-name:rotateInDownLeft}@keyframes rotateInDownRight{0%{transform-origin:right bottom;transform:rotate(45deg);opacity:0}to{transform-origin:right bottom;transform:none;opacity:1}}.rotateInDownRight{animation-name:rotateInDownRight}@keyframes rotateInUpLeft{0%{transform-origin:left bottom;transform:rotate(45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{animation-name:rotateInUpLeft}@keyframes rotateInUpRight{0%{transform-origin:right bottom;transform:rotate(-90deg);opacity:0}to{transform-origin:right bottom;transform:none;opacity:1}}.rotateInUpRight{animation-name:rotateInUpRight}@keyframes rotateOut{0%{transform-origin:center;opacity:1}to{transform-origin:center;transform:rotate(200deg);opacity:0}}.rotateOut{animation-name:rotateOut}@keyframes rotateOutDownLeft{0%{transform-origin:left bottom;opacity:1}to{transform-origin:left bottom;transform:rotate(45deg);opacity:0}}.rotateOutDownLeft{animation-name:rotateOutDownLeft}@keyframes rotateOutDownRight{0%{transform-origin:right bottom;opacity:1}to{transform-origin:right bottom;transform:rotate(-45deg);opacity:0}}.rotateOutDownRight{animation-name:rotateOutDownRight}@keyframes rotateOutUpLeft{0%{transform-origin:left bottom;opacity:1}to{transform-origin:left bottom;transform:rotate(-45deg);opacity:0}}.rotateOutUpLeft{animation-name:rotateOutUpLeft}@keyframes rotateOutUpRight{0%{transform-origin:right bottom;opacity:1}to{transform-origin:right bottom;transform:rotate(90deg);opacity:0}}.rotateOutUpRight{animation-name:rotateOutUpRight}@keyframes hinge{0%{transform-origin:top left;animation-timing-function:ease-in-out}20%,60%{transform:rotate(80deg);transform-origin:top left;animation-timing-function:ease-in-out}40%,80%{transform:rotate(60deg);transform-origin:top left;animation-timing-function:ease-in-out;opacity:1}to{transform:translate3d(0,700px,0);opacity:0}}.hinge{animation-name:hinge}@keyframes jackInTheBox{0%{opacity:0;transform:scale(.1) rotate(30deg);transform-origin:center bottom}50%{transform:rotate(-10deg)}70%{transform:rotate(3deg)}to{opacity:1;transform:scale(1)}}.jackInTheBox{animation-name:jackInTheBox}@keyframes rollIn{0%{opacity:0;transform:translate3d(-100%,0,0) rotate(-120deg)}to{opacity:1;transform:none}}.rollIn{animation-name:rollIn}@keyframes rollOut{0%{opacity:1}to{opacity:0;transform:translate3d(100%,0,0) rotate(120deg)}}.rollOut{animation-name:rollOut}@keyframes zoomIn{0%{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{animation-name:zoomIn}@keyframes zoomInDown{0%{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,60px,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInDown{animation-name:zoomInDown}@keyframes zoomInLeft{0%{opacity:0;transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(10px,0,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInLeft{animation-name:zoomInLeft}@keyframes zoomInRight{0%{opacity:0;transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInRight{animation-name:zoomInRight}@keyframes zoomInUp{0%{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInUp{animation-name:zoomInUp}@keyframes zoomOut{0%{opacity:1}50%{opacity:0;transform:scale3d(.3,.3,.3)}to{opacity:0}}.zoomOut{animation-name:zoomOut}@keyframes zoomOutDown{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}to{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform-origin:center bottom;animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomOutDown{animation-name:zoomOutDown}@keyframes zoomOutLeft{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(42px,0,0)}to{opacity:0;transform:scale(.1) translate3d(-2000px,0,0);transform-origin:left center}}.zoomOutLeft{animation-name:zoomOutLeft}@keyframes zoomOutRight{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(-42px,0,0)}to{opacity:0;transform:scale(.1) translate3d(2000px,0,0);transform-origin:right center}}.zoomOutRight{animation-name:zoomOutRight}@keyframes zoomOutUp{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,60px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}to{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);transform-origin:center bottom;animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomOutUp{animation-name:zoomOutUp}@keyframes slideInDown{0%{transform:translate3d(0,-100%,0);visibility:visible}to{transform:translateZ(0)}}.slideInDown{animation-name:slideInDown}@keyframes slideInLeft{0%{transform:translate3d(-100%,0,0);visibility:visible}to{transform:translateZ(0)}}.slideInLeft{animation-name:slideInLeft}@keyframes slideInRight{0%{transform:translate3d(100%,0,0);visibility:visible}to{transform:translateZ(0)}}.slideInRight{animation-name:slideInRight}@keyframes slideInUp{0%{transform:translate3d(0,100%,0);visibility:visible}to{transform:translateZ(0)}}.slideInUp{animation-name:slideInUp}@keyframes slideOutDown{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(0,100%,0)}}.slideOutDown{animation-name:slideOutDown}@keyframes slideOutLeft{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(-100%,0,0)}}.slideOutLeft{animation-name:slideOutLeft}@keyframes slideOutRight{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(100%,0,0)}}.slideOutRight{animation-name:slideOutRight}@keyframes slideOutUp{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(0,-100%,0)}}.slideOutUp{animation-name:slideOutUp}